<div class="container">
    <div class="row">
        <div class="col">
            <app-menu-principal></app-menu-principal>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <span class="navbar-brand mb-0 h1">Usuario</span>
                </div>
            </nav>
            <app-formulario-usuario></app-formulario-usuario>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-pie-pagina></app-pie-pagina>
        </div>
    </div>
</div>